<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<!-- 이벤트와 관련된 쿼리문을 모아놓을 곳 -->
<properties>

	<entry key="CartListView">
	SELECT USER_NO, PRODUCT_NO, PRODUCT_QUANTITY, PRODUCT_STOCK, CELEB_NAME, PRODUCT_NAME, PRODUCT_PRICE, FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM CART
	JOIN PRODUCT USING (PRODUCT_NO)
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE USER_NO= ?
    AND FILE_LEVEL = 1
	</entry>



	<entry key="AllDeleteCart">
	DELETE CART
	WHERE USER_NO= ?
	</entry>
	
	
	
	<entry key="updateCount">
	UPDATE CART
	SET PRODUCT_QUANTITY = ?
	WHERE PRODUCT_NO = ?
	AND USER_NO = ?
	
	</entry>
	
	
	<entry key="selectDelete">
	DELETE CART
	WHERE USER_NO = ?
	AND PRODUCT_NO = ?
	
	</entry>
	
	<!-- 장바구니 add to cart 생성 -->
	<entry key="insertCart">
	INSERT INTO CART(USER_NO,
								PRODUCT_NO,
								PRODUCT_QUANTITY)
	VALUES(?,?,?)
	</entry>
	
	<entry key="checkCart">
	SELECT COUNT(*) COUNT
	FROM CART
	WHERE USER_NO=?
	AND PRODUCT_NO=?
	</entry>

	<entry key="insertCartUpdateQuantity">
	UPDATE CART SET PRODUCT_QUANTITY=PRODUCT_QUANTITY+?
	WHERE USER_NO=?
	AND PRODUCT_NO=?
	</entry>
	
	<entry key="CheckDelete">
	DELETE CART
	WHERE USER_NO =?
	AND PRODUCT_NO = ?
	</entry>
	
</properties>