<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<!-- 이벤트와 관련된 쿼리문을 모아놓을 곳 -->
<properties>

<entry key="selectEventListCountActive">
SELECT COUNT(*) as COUNT FROM EVENT
WHERE EVENT_TYPE = ? AND EVENT_ENDDATE > SYSDATE AND STATUS = 'Y'
</entry>

<entry key="selectEventListCountInactive">
SELECT COUNT(*) as COUNT FROM EVENT
WHERE EVENT_TYPE = ? AND SYSDATE > EVENT_ENDDATE AND STATUS = 'Y'
</entry>

<entry key="selectGotchaListCount">
SELECT COUNT(*) as COUNT FROM EVENT
WHERE EVENT_TYPE = ? AND STATUS = 'Y'
</entry>

<entry key="selectEventListActive">
SELECT * FROM
    (SELECT ROWNUM AS RNUM, A.* FROM 
    (SELECT EVENT_NO, EVENT_TYPE, EVENT_TOPIC, EVENT_TITLE, EVENT_STARTDATE, EVENT_ENDDATE, CREATE_DATE FROM
    EVENT E WHERE EVENT_TYPE = ? AND EVENT_ENDDATE > SYSDATE AND E.STATUS = 'Y'
    ORDER BY CREATE_DATE DESC) A)
WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectEventListInactive">
SELECT * FROM
    (SELECT ROWNUM AS RNUM, A.* FROM 
    (SELECT EVENT_NO, EVENT_TYPE, EVENT_TOPIC, EVENT_TITLE, EVENT_STARTDATE, EVENT_ENDDATE, CREATE_DATE FROM
    EVENT E WHERE EVENT_TYPE = ? AND SYSDATE > EVENT_ENDDATE AND E.STATUS = 'Y'
    ORDER BY CREATE_DATE DESC) A)
WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectGotchaList">
SELECT * FROM
    (SELECT ROWNUM AS RNUM, A.* FROM 
    (SELECT EVENT_NO, EVENT_TYPE, EVENT_TOPIC, EVENT_TITLE, EVENT_STARTDATE, EVENT_ENDDATE, CREATE_DATE FROM
    EVENT E WHERE EVENT_TYPE = ? AND E.STATUS = 'Y'
    ORDER BY CREATE_DATE DESC) A)
WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectDetailedEvent">
SELECT * FROM EVENT
WHERE EVENT_NO = ? AND STATUS = 'Y'
</entry>

<entry key="selectEventAttachment">
SELECT EVENT_ATTACHMENT_NO, REF_EVENT_NO, EVENT_ORIGIN_NAME, EVENT_CHANGE_NAME, EVENT_FILE_PATH
FROM EVENT_ATTACHMENT
WHERE REF_EVENT_NO = ? AND STATUS = 'Y'
</entry>

<entry key="insertEvent">
INSERT INTO EVENT (EVENT_NO, EVENT_TYPE, EVENT_TOPIC, EVENT_TITLE, EVENT_CONTENT, EVENT_STARTDATE, EVENT_ENDDATE)
VALUES (SEQ_ENO.NEXTVAL, ?, ?, ?, ?, ?, ?)
</entry>

<entry key="insertGotcha">
INSERT INTO EVENT (EVENT_NO, EVENT_TYPE, EVENT_TOPIC, EVENT_TITLE, EVENT_CONTENT, GOTCHA_YN)
VALUES (SEQ_ENO.NEXTVAL, ?, ?, ?, ?, ?)
</entry>

<entry key="insertEventAttachment">
INSERT INTO EVENT_ATTACHMENT (EVENT_ATTACHMENT_NO, REF_EVENT_NO, EVENT_ORIGIN_NAME, EVENT_CHANGE_NAME, EVENT_FILE_PATH)
VALUES (SEQ_EVENT_ATTNO.NEXTVAL, SEQ_ENO.CURRVAL, ?, ?, ?)
</entry>

<entry key="updateEvent">
UPDATE EVENT SET EVENT_TYPE = ?, EVENT_TOPIC = ?, EVENT_TITLE = ?, EVENT_CONTENT = ?, EVENT_STARTDATE = ?, EVENT_ENDDATE = ?
WHERE EVENT_NO = ? AND STATUS = 'Y'
</entry>

<entry key="deleteEvent">
UPDATE EVENT SET STATUS = 'N'
WHERE EVENT_NO = ?
</entry>

<entry key="applyGotcha">
INSERT INTO EVENT_APPLY (EVENT_APPLY_NO, EVENT_PARTICIPANT_NO, REF_EVENT_NO)
VALUES (SEQ_EVENT_APPNO.NEXTVAL, ?, ?)
</entry>

<entry key="checkGotchaStatus">
SELECT APPLY_STATUS
FROM EVENT_APPLY
WHERE REF_EVENT_NO = ? AND EVENT_PARTICIPANT_NO = ?
</entry>

<entry key="deleteGotchaStatus">
DELETE FROM EVENT_APPLY
WHERE REF_EVENT_NO = ? AND EVENT_PARTICIPANT_NO = ?
</entry>

<entry key="showGotchaResult">
SELECT * FROM (SELECT EVENT_PARTICIPANT_NO, USER_ID, USER_NICKNAME, SUBSTR(USER_PHONE, 10, 5) AS PHONE
FROM EVENT_APPLY JOIN MEMBER ON (USER_NO = EVENT_PARTICIPANT_NO)
WHERE REF_EVENT_NO = ? ORDER BY DBMS_RANDOM.RANDOM) WHERE ROWNUM <![CDATA[<=]]> 5
</entry>

<entry key="changeGotchaStatus">
UPDATE EVENT SET GOTCHA_YN = 'Y'
WHERE EVENT_NO = ?
</entry>

</properties>