<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<!-- 상품과 관련된 쿼리문을 모아놓을 곳 -->
<properties>
<entry key="selectProductAllList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="slectProductMusicList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND PRODUCT_CATEGORY_NO=1
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectProductClothingList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND PRODUCT_CATEGORY_NO=2
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectProductBeautyList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND PRODUCT_CATEGORY_NO=3
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectProductAccList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND PRODUCT_CATEGORY_NO=4
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>





<!-- 셀럽시작 -->
<entry key="selectJbAllList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Justin Bieber'
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectJbMusicList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Justin Bieber'
	AND PRODUCT_CATEGORY_NO=1
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectJbClothingList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Justin Bieber'
	AND PRODUCT_CATEGORY_NO=2
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectJbBeautyList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Justin Bieber'
	AND PRODUCT_CATEGORY_NO=3
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectJbAccList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Justin Bieber'
	AND PRODUCT_CATEGORY_NO=4
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectDlAllList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Dua Lipa'
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectDlMusicList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Dua Lipa'
	AND PRODUCT_CATEGORY_NO=1
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectDlClothingList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Dua Lipa'
	AND PRODUCT_CATEGORY_NO=2
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectDlBeautyList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Dua Lipa'
	AND PRODUCT_CATEGORY_NO=3
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectDlAccList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Dua Lipa'
	AND PRODUCT_CATEGORY_NO=4
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectWdwAllList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Why Don''t We'
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectWdwMusicList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Why Don''t We'
	AND PRODUCT_CATEGORY_NO=1
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectWdwClothingList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Why Don''t We'
	AND PRODUCT_CATEGORY_NO=2
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectWdwBeautyList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Why Don''t We'
	AND PRODUCT_CATEGORY_NO=3
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectWdwAccList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Why Don''t We'
	AND PRODUCT_CATEGORY_NO=4
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectAgAllList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Ariana Grande'
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectAgMusicList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Ariana Grande'
	AND PRODUCT_CATEGORY_NO=1
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectAgClothingList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Ariana Grande'
	AND PRODUCT_CATEGORY_NO=2
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectAgBeautyList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Ariana Grande'
	AND PRODUCT_CATEGORY_NO=3
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectAgAccList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Ariana Grande'
	AND PRODUCT_CATEGORY_NO=4
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectTsAllList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Taylor Swift'
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectTsMusicList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Taylor Swift'
	AND PRODUCT_CATEGORY_NO=1
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectTsClothingList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Taylor Swift'
	AND PRODUCT_CATEGORY_NO=2
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectTsBeautyList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Taylor Swift'
	AND PRODUCT_CATEGORY_NO=3
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectTsAccList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Taylor Swift'
	AND PRODUCT_CATEGORY_NO=4
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectDcAllList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Doja Cat'
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectDcMusicList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Doja Cat'
	AND PRODUCT_CATEGORY_NO=1
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectDcClothingList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Doja Cat'
	AND PRODUCT_CATEGORY_NO=2
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectDcBeautyList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Doja Cat'
	AND PRODUCT_CATEGORY_NO=3
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectDcAccList">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND CELEB_NAME='Doja Cat'
	AND PRODUCT_CATEGORY_NO=4
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>




<!-- 상품디테일 페이지 -->
<entry key="selectProduct">
	SELECT PRODUCT_NO,
				PRODUCT_NAME,
				CELEB_NAME,
				PRODUCT_STOCK,
				PRODUCT_CONTENT,
				PRODUCT_PRICE,
				PRODUCT_COMMENT,
				FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_NO=?
	AND FILE_LEVEL=1
	AND PRODUCT_STATUS='Y'
</entry>

<!-- 상품디테일 첨부파일 -->
<entry key="selectProductAttachmentList">
	 SELECT FILE_NO,
				ORIGIN_NAME,
				FILE_PATH
	FROM P_ATTACHMENT
	WHERE REF_PNO=?
	AND FILE_LEVEL=2
</entry>














<!-- 관리자용 ProductDao2 -->
<entry key="selectProductManagementAllList">
	SELECT PRODUCT_NO,
				PRODUCT_CATEGORY_NAME,
				PRODUCT_NAME,
				CELEB_NAME,
				PRODUCT_STOCK,
				PRODUCT_CONTENT,
				PRODUCT_PRICE,
				PRODUCT_COMMENT,
				FILE_PATH || ORIGIN_NAME "TITLEIMG",
				PRODUCT_STATUS
	FROM PRODUCT
	JOIN P_CATEGORY USING(PRODUCT_CATEGORY_NO)
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectProductCategoryList">
	SELECT PRODUCT_CATEGORY_NO,
				PRODUCT_CATEGORY_NAME
	FROM P_CATEGORY
</entry>

<entry key="insertProductRegistration">
	INSERT INTO PRODUCT(PRODUCT_NO,
										CELEB_NAME,
										PRODUCT_CATEGORY_NO,
										PRODUCT_NAME,
										PRODUCT_PRICE,
										PRODUCT_STOCK,
										PRODUCT_COMMENT,
										PRODUCT_CONTENT)
	VALUES(SEQ_PNO.NEXTVAL,?,?,?,?,?,?,?)
</entry>

<entry key="insertProductAttachment">
	INSERT INTO P_ATTACHMENT(FILE_NO,
												REF_PNO,
												ORIGIN_NAME,
												FILE_PATH,
												FILE_LEVEL)
	VALUES(SEQ_PFNO.NEXTVAL,SEQ_PNO.CURRVAL,?,?,?)
</entry>

<!-- 관리자용 상품디테일 페이지 -->
<entry key="selectProductManagement">
	SELECT PRODUCT_NO,
				PRODUCT_CATEGORY_NAME,
				PRODUCT_NAME,
				CELEB_NAME,
				PRODUCT_STOCK,
				PRODUCT_CONTENT,
				PRODUCT_PRICE,
				PRODUCT_COMMENT,
				PRODUCT_ENROLLDATE,
				PRODUCT_STATUS,
				FILE_NO,
				FILE_PATH,
				ORIGIN_NAME
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	JOIN P_CATEGORY USING(PRODUCT_CATEGORY_NO)
	WHERE PRODUCT_NO=?
	AND FILE_LEVEL=1
</entry>

<!-- 관리자용 상품디테일 페이지 첨부파일 -->
<entry key="selectProductManagementAttachmentList">
	 SELECT FILE_NO,
				ORIGIN_NAME,
				FILE_PATH
	FROM P_ATTACHMENT
	WHERE REF_PNO=?
	AND FILE_LEVEL=2
</entry>

<!-- 상품정보 수정 -->
<entry key="modificationProduct">
	UPDATE PRODUCT SET CELEB_NAME=?,
										PRODUCT_CATEGORY_NO=?,
										PRODUCT_NAME=?,
										PRODUCT_PRICE=?,
										PRODUCT_STOCK=?,
										PRODUCT_COMMENT=?,
										PRODUCT_CONTENT=?
	WHERE PRODUCT_NO=?
	AND PRODUCT_STATUS='Y'
</entry>

<!-- 상품썸네일 이미지 수정 -->
<entry key="modificationProductAttachment">
	UPDATE P_ATTACHMENT SET ORIGIN_NAME=?,
												FILE_PATH=?
	WHERE FILE_NO=?
</entry>

<!-- 상품컨텐츠이미지1 수정 -->
<entry key="modificationProductAttachment2">
	UPDATE P_ATTACHMENT SET ORIGIN_NAME=?,
												FILE_PATH=?
	WHERE FILE_NO=?
</entry>

<!-- 상품컨텐츠이미지1 추가 -->
<entry key="insertNewProductAttachment2">
	INSERT INTO P_ATTACHMENT(FILE_NO,
												REF_PNO,
												ORIGIN_NAME,
												FILE_PATH,
												FILE_LEVEL)
	VALUES(SEQ_PFNO.NEXTVAL,?,?,?,2)
</entry>

<!-- 상품컨텐츠이미지2 수정 -->
<entry key="modificationProductAttachment3">
	UPDATE P_ATTACHMENT SET ORIGIN_NAME=?,
												FILE_PATH=?
	WHERE FILE_NO=?
</entry>

<!-- 상품컨텐츠이미지2 추가 -->
<entry key="insertNewProductAttachment3">
	INSERT INTO P_ATTACHMENT(FILE_NO,
												REF_PNO,
												ORIGIN_NAME,
												FILE_PATH,
												FILE_LEVEL)
	VALUES(SEQ_PFNO.NEXTVAL,?,?,?,2)
</entry>

<!-- 상품삭제 메소드 -->
<entry key="deleteProduct">
	UPDATE PRODUCT SET PRODUCT_STATUS='N'
	WHERE PRODUCT_NO=?
</entry>


<!-- 낮은가격순 정렬 -->
<entry key="selectProductLineupLowprice">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_PRICE
</entry>

<!-- 높은가격순 정렬 -->
<entry key="selectProductLineupHighprice">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE PRODUCT_STATUS='Y'
	AND FILE_LEVEL=1
	ORDER BY PRODUCT_PRICE DESC
</entry>

<!-- 최신순 정렬은 맨 위의 "selectProductAllList" entry 사용 -->



<!-- 관리자 화면 상품 정렬 -->
<entry key="selectProductLineupLowprice2">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			PRODUCT_STATUS,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE FILE_LEVEL=1
	ORDER BY PRODUCT_PRICE
</entry>

<entry key="selectProductLineupHighprice2">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			PRODUCT_STATUS,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE FILE_LEVEL=1
	ORDER BY PRODUCT_PRICE DESC
</entry>

<entry key="selectProductLineupNew2">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			PRODUCT_STATUS,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE FILE_LEVEL=1
	ORDER BY PRODUCT_ENROLLDATE DESC
</entry>

<entry key="selectProductLineupNames">
	SELECT PRODUCT_NO,
			PRODUCT_NAME,
			CELEB_NAME,
			PRODUCT_PRICE,
			PRODUCT_STATUS,
			FILE_PATH || ORIGIN_NAME "TITLEIMG"
	FROM PRODUCT
	JOIN P_ATTACHMENT ON (PRODUCT_NO = REF_PNO)
	WHERE FILE_LEVEL=1
	ORDER BY CELEB_NAME
</entry>


<!-- 디테일 페이지에 들어갈 리뷰 리스트 -->
<entry key="selectReview">
	SELECT USER_NAME,
                REVIEW_CONTENT,
                REVIEW_SCORE,
                CREATE_DATE
	FROM REVIEW
	JOIN MEMBER USING(USER_NO)
	WHERE REF_PNO=?
	AND REVIEW_STATUS='Y'
	ORDER BY CREATE_DATE DESC
</entry>
</properties>